body{
    font-color: #333635;
    font-size: 22px;
    background-color: #9DC3C1;
    margin-left: 15%;
    margin-right:15%; 
  }

  header{
    background-color: #77AAAD;
    margin: 0,0,0,0;
    font-size:80px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    height: 140px;
  }

 main{
    background-color: #D8E6E7;
  }

  footer{
    font-size: 20px;
    padding: 10px;
    opacity: 0.6;
    background-color: #6E7783;
    clear:both;
  }

  html{
    background-color: #9DC3C1;
  }

  .self_intro{
    overflow: hidden;
    padding-left: 15%;
    padding-right: 15%;
  }

  .person_img {
    float: left;
    padding:10px;
  }
  
  .person_info {
    float: right;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  
  .icon{
    border-radius: 50%; 
    border-color: white;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0px 0px 15px gray;
  }