body{
    font-color: #333635;
    font-size: 22px;
    background-color: #9DC3C1;
    margin-left: 15%;
    margin-right:15%; 
  }

  header{
    background-color: #77AAAD;
    margin: 0,0,0,0;
    font-size:80px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    height: 140px;
  }

 main{
    background-color: #D8E6E7;
  }

  footer{
    font-size: 20px;
    padding: 10px;
    opacity: 0.6;
    background-color: #6E7783;
    clear:both;
  }

  html{
    background-color: #9DC3C1;
  }

