.container{
  width: 500px;
  margin: 0 auto;
}

header{
  background-color: tomato;
  margin: 0,0,0,0;
}

main{
  overflow: hidden;
}

#content{
  background-color: skyblue;
  width :70%;
  float: left;
}

#sidebar{
  background-color: red;
  width: 30%;
  float:right;
}

footer{
  background-color: gray;
  clear: both;
}

p1{
  font-size: 30px;
  font-style: bold;
}

#about_me{
  height: 120px;
  background-color: white;
}

#skills{
  height: 120px;
  background-color: green;
}

#lerning_history{
  height: 120px;
  background-color: blue;
}

#portfolio{
  height: 120px;
  background-color: yellow;
}

/*#left{
  background-color: limegreen;
  float: left;
  width: 180px;
  margin-right: 20px;
}

#right{
  background-color: lightgreen;
  float: left;
  width: 300px;
}*/